@import "../../styles/presets";

.board {
  height: 100vh;
  overflow: auto;
  background-image: $background;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1em;

  &__title {
    font-size: 2em;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 3rem 4px;
    margin-bottom: 1rem;
    border-bottom: 1px dotted $gray;
  }

  &__message {
    margin-bottom: 1rem;
  }

  &__field {
    display: grid;
    grid-gap: 0.5em;
    grid-auto-rows: auto;
    max-width: 100%;
    margin-bottom: 1rem;
  }
}