@import "../../styles/presets";

.card {
  background-color: $white;
  border: 1px solid $gray-light;
  border-radius: $radius;
  box-shadow: $shadow;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 150ms;

  &:hover {
    transform: translateY(-4px);
  }
}